body {
    font-family: 'Baloo 2', cursive;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#faq-section {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    max-width: 1000px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#faq-section h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

#faq-section h2 {
    font-size: 3.5em; 
    color: rgba(183, 53, 116, 0.956);
    margin-bottom: 40px;
    font-weight: 500;
    font-family: 'Baloo 2', sans-serif;
    text-transform: capitalize; 
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05); 
}

.faq-container {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    justify-content: center;
    align-items: center; 
}

.faq-item {
    width: 50%; 
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.faq-item:hover {
    transform: scale(1.03);
}

.faq-question {
    background-color: #fa8072; 
    color: white;
    cursor: pointer;
    padding: 0.75rem; 
    text-align: left;
    width: 100%; 
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e74c3c;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.faq-question:hover {
    background-color: #e74c3c; 
    transform: scale(1.05);
}

.faq-answer {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer.active {
    max-height: 500px; 
    padding: 1rem;
}

.faq-question:after {
    content: "▼";
    font-size: 1.2rem;
    color: white;
    transition: transform 0.3s ease;
}

.faq-item.active .faq-question:after {
    transform: rotate(180deg);
}
